In [1]:
import numpy as np
from itertools import combinations
k=10
a=[]
for i in range (1,k):
    for n in range(1,k-i):
        a.append([n,i])

In [2]:
rulelist=[]
for i in range(len(a)):
    rulelist=rulelist+rule(a[i])
for i in range(len(rulelist)):
    rulelist[i]=[list(rulelist[i][0][0]),list(rulelist[i][1][0])]

NameError: name 'rule' is not defined

18660.0

In [34]:
import pandas as pd
rulesdf=pd.DataFrame(rulelist)  
rulesdf.to_pickle('rulelist.pkl')

In [6]:
import pandas as pd
cd=pd.read_pickle('rulelist.pkl')
len(cd)

18150

In [42]:
df=pd.read_pickle('Classes.pkl')  
df

                             Rule Dead Ideal  Z
0       [7, 5, 6, 4, 1]-[8, 3, 2]    0     1  0
1          [1, 7]-[0, 8, 4, 5, 6]    0     0  1
2          [8, 5, 2]-[7, 3, 0, 6]    0     1  1
3       [3, 0, 7, 8]-[5, 6, 4, 1]    0     1  1
4    [8, 5, 2, 0, 1]-[3, 6, 4, 7]    0     0  0
..                            ...  ...   ... ..
206        [1, 2]-[6, 8, 4, 3, 7]    0     1  0
207              [6, 0, 8]-[1, 3]    0     0  1
208              [6, 0, 8]-[1, 3]    0     0  1
209  [3, 6, 5, 4]-[0, 2, 7, 8, 1]    0     1  0
210  [1, 7]-[0, 8, 6, 2, 4, 5, 3]    0     1  1

[211 rows x 4 columns]

In [41]:
a

[[1, 1],
 [2, 1],
 [3, 1],
 [4, 1],
 [5, 1],
 [6, 1],
 [7, 1],
 [8, 1],
 [1, 2],
 [2, 2],
 [3, 2],
 [4, 2],
 [5, 2],
 [6, 2],
 [7, 2],
 [1, 3],
 [2, 3],
 [3, 3],
 [4, 3],
 [5, 3],
 [6, 3],
 [1, 4],
 [2, 4],
 [3, 4],
 [4, 4],
 [5, 4],
 [1, 5],
 [2, 5],
 [3, 5],
 [4, 5],
 [1, 6],
 [2, 6],
 [3, 6],
 [1, 7],
 [2, 7],
 [1, 8]]